<h2>Edit Profile</h2>

<%= form_for @changeset, talent_path(@conn, :edit_post, @user_id), [as: :params, method: :post, multipart: true], fn f -> %>
  <%= hidden_input f, :talent_profile_id %>
  <%= hidden_input f, :head_shot_filename %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :first_name, class: "control-label" %>
    <%= text_input f, :first_name, class: "form-control" %>
    <%= error_tag f, :first_name %>
  </div>

  <div class="form-group">
    <%= label f, :last_name, class: "control-label" %>
    <%= text_input f, :last_name, class: "form-control" %>
    <%= error_tag f, :last_name %>
  </div>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= email_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :head_shot, class: "control-label" %>
    <%= headshot input_value(f, :head_shot_filename) %>
    <%= file_input f, :head_shot, class: "form-control" %>
  </div>

  <%= genres f %>

  <%= primary_instrument f %>

  <div class="form-group">
    <%= label f, :bio, class: "control-label" %>
    <%= textarea f, :bio, class: "form-control", rows: 10 %>
    <%= error_tag f, :bio %>
  </div>

  <div class="form-group">
    <%= submit "Update profile", class: "btn btn-primary" %>
  </div>
<% end %>
