<div id="talent_data" data-id="<%= @talent.id %>"
     data-csrf="<%= Plug.CSRFProtection.get_csrf_token() %>"
     data-upload="<%= talent_path(@conn, :upload_headshot_post, @talent.id) %>">
  <div>UNU</div>
  <span style="font-size: 12px;">
  <a href="/" style="color: black;">Home</a>
  &gt;
  <a href="#" style="color: black;">Edit Your Profile</a>
  </span>
</div>

<div>
  <input type="file" id="headshot_selector" accept="image/*" style="display:none"
	 onchange="App.upload_headshot(this.files)">
  <a href="#" id="headshot_link">
    <%= if @talent.head_shot_filename do %>
    <img class="profile-photo" src="/headshot/<%= @talent.head_shot_filename %>">
    <div style="text-align: center;">
      <span style="color: black; font-size: 12px;">Upload a New Photo</span>
    </div>
    <% else %>
    <%= content_tag :div, class: "profile-no-photo" do
	"Upload a photo!"
	end %>
    <% end %>
  </a>
</div>

<div class="profile-name"><%= @talent.first_name <> " " <> @talent.last_name %></div>
<div class="profile-primary-instrument"><%= @talent.primary_instrument %></div>
<div style="text-align: center;"><a href="#" style="color: black; font-size: 12px;">Edit Voice Part</a></div>

<div style="text-align: center; margin-top: 10px; font-weight: bold;">About <%= @talent.first_name %></div>
<div style="border: 1px solid gray; padding: 20px; margin: 10px;"><%= @talent.bio %></div>
<div style="text-align: center;"><a href="#" style="color: black; font-size: 12px;">Edit Bio</a></div>

<div style="margin-top: 10px;">
Experience: <%= @talent.career_start %>
</div>
<div><a href="#" style="color: black; font-size: 12px;">Edit Experience</a></div>

<%= if Enum.empty?(@talent.genres) do %>
<div style="margin-top: 10px;"><a href="#" style="color: black; font-size: 12px;">Specify Genre</a></div>
<% else %>
<div style="margin-top: 10px;">Genre: <%= Enum.join(@talent.genres, ", ") %></div>
<div><a href="#" style="color: black; font-size: 12px;">Edit Genre</a></div>
<% end %>

<div style="margin-top: 10px;"><a href="#" style="color: black; font-size: 12px;">Add Specialization</a></div>

