<div style="text-align: center;">
<h1>UNU</h1>
<p>Welcome to Unu Philly!</p>
<%= button("Sign up as a Performer", to: talent_path(@conn, :signup_page), method: :get, class: "btn btn-default", style: "margin-top: 10px;") %>
<br>
<%= button("Log in", to: session_path(@conn, :login_page), method: :get, class: "btn btn-default", style: "margin-top: 20px;") %>
</div>
