<%= if @current_user && @current_user.id === @talent.id do %>
<a class="profile-edit-link" href="<%= talent_path(@conn, :edit_page, @current_user.id)%>">
<% end %>

<%= headshot @talent.head_shot_filename %>

<div class="profile-name"><%= @talent.first_name <> " " <> @talent.last_name %></div>
<%= if @current_user && @current_user.id === @talent.id do %>
</a>
<% end %>
<%= if @talent.primary_instrument do %>
<div class="profile-primary-instrument"><%= @talent.primary_instrument %></div>
<% end %>

<p style="text-align: center;">
  <i>Rating goes here</i>
</p>

<p style="text-align: center;">
  <i>Contact <%= @talent.first_name %> goes here</i>
</p>

<h3 style="text-align: center;">About <%= @talent.first_name %></h3>

<p>
  <%= @talent.bio %>
</p>

<%= unless Enum.empty?(@talent.genres) do %>
<p>Genre: <%= Enum.join(@talent.genres, ", ") %></p>
<% end %>

<p style="text-align: center;">
  <i>Request to Book goes here</i>
</p>
