<div style="text-align: center;">
  <h1>UNU</h1>
  <p>Welcome to Unu Philly!<br>Please create an account.</p>
</div>

<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

<%= form_for @changeset, talent_path(@conn, :signup_post), [as: :params, multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :first_name, class: "sr-only control-label" %>
    <%= text_input f, :first_name, autofocus: "true", class: "form-control", placeholder: "First Name" %>
    <%= error_tag f, :first_name %>
  </div>

  <div class="form-group">
    <%= label f, :last_name, class: "sr-only control-label" %>
    <%= text_input f, :last_name, class: "form-control", placeholder: "Last Name" %>
    <%= error_tag f, :last_name %>
  </div>

  <div class="form-group">
    <%= label f, :email, class: "sr-only control-label" %>
    <%= email_input f, :email, class: "form-control", placeholder: "Email" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "sr-only control-label" %>
    <%= password_input f, :password, class: "form-control", placeholder: "Password" %>
    <%= error_tag f, :password %>
  </div>

  <%= genres f %>

  <%= primary_instrument f %>

  <div class="form-group">
    <%= label f, :career_start, "When did you start singing professionally?", class: "control-label" %>
    <%= text_input f, :career_start, class: "form-control", placeholder: "mm/yyyy" %>
    <%= error_tag f, :career_start %>
  </div>
  
  <!-- <div class="form-group"> -->
  <!--   <%= label f, :head_shot, "Upload a photo", class: "sr-only control-label" %> -->
  <!--   <%= file_input f, :head_shot, class: "form-control" %> -->
  <!--   <%= error_tag f, :head_shot %> -->
  <!-- </div> -->

  <div class="form-group">
    <%= label f, :bio, class: "control-label" %>
    <%= textarea f, :bio, class: "form-control", rows: 10 %>
    <%= error_tag f, :bio %>
  </div>

  <div class="form-group">
    <%= submit "Create Profile", class: "btn btn-primary" %>
  </div>
<% end %>

