<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.first_name <> " " <> user.last_name %></td>
      <td><%= user.email %></td>

      <td class="text-right">
        <%= button "Show", to: talent_path(@conn, :show_page, user), method: :get, class: "btn btn-default btn-xs" %>
        <%= button "Edit", to: talent_path(@conn, :edit_page, user), method: :get, class: "btn btn-default btn-xs" %>
        <%= button "Delete", to: user_path(@conn, :delete, user), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
