<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:"http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="google-site-verification" content="ClBh2WH0Zx_Cf8ixkCb67Oe2r5zaAcTKj9uLe39MWtw" />
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UNU</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">

      <main role="main">
	<%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- .container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      var App = require("web/static/js/app.js").App;
      App.register('<%= @view_template %>', document);
    </script>
  </body>
</html>
