<div style="text-align: center;">
<h1>UNU</h1>
<p>Welcome back!<br>Please sign in.</p>

<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

<%= form_for @conn, session_path(@conn, :login), [as: :login], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :email, class: "sr-only control-label" %>
    <%= email_input f, :email, autofocus: "true", class: "form-control", placeholder: "Email" %>
    <%= error_tag f, :first_name %>
  </div>
  <div class="form-group">
    <%= label f, :password, class: "sr-only control-label" %>
    <%= password_input f, :password, class: "form-control", placeholder: "Password" %>
    <%= error_tag f, :password %>
  </div>
  <div class="form-group">
    <%= submit "Trust me", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
