@import "bootstrap";

.navbar {
    background-color: transparent;
    border: 0;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-text {
    color: black;
}

.navbar-default .navbar-form {
    border-top: 0;
    border-bottom: 0;
}

a.profile-edit-link {
    color: black;
    text-decoration: none;
}

.profile-photo {
    border: 1px solid black;
    border-radius: 50px;
    display: block;
    height: 100px;
    width: 100px;
    margin: 5px auto;
}

.profile-no-photo {
    background-color: #dddddd;
    border: 1px solid black;
    border-radius: 50px;
    display: block;
    height: 100px;
    width: 100px;
    margin: 5px auto;
    padding-top: 29px;
    text-align: center;
    color: black;
}

.profile-file-input {
    visibility: hidden;
}

.profile-name {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.profile-primary-instrument {
    font-size: 18px;
    text-align: center;
}

.edit-profile-form-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.btn-group > .btn-default.active {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-group > .btn-default.active.focus,
.btn-group > .btn-default.active:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}

.btn-group > .btn-default:active:hover,
.btn-group > .btn-default:active:focus,
.btn-group > .btn-default:active.focus,
.btn-group > .btn-default.active:focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

/*
body {
    font-family: sans-serif;
    margin: 10px;
}

.clear {
    clear: both;
}
*/
/*header {*/
    /*background: blue;*/
/*}*/

/*header h1 {*/
    /*background: yellow;*/
/*    display: inline;
    float: left;
    font-weight: normal;
    margin: 0px;
}*/
/*
header ul {
    float: right;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
}*/

/*header li {*/
    /*background: gray;*/
/*    float: left;
    margin: 10px;
    text-align: center;
}*/
/*
header a {
    color: black;
    text-decoration: none;
}
*/

/*
li:nth-of-type(1) {
    position: absolute;
    left: 300px;
}
*/
